<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922715338899-agmn0i7fji1j0uqsjo8trmcpb309prer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922715338899-agmn0i7fji1j0uqsjo8trmcpb309prer</string>
	<key>API_KEY</key>
	<string>AIzaSyAiGK5KIvPpZb5Ky0vuOoxNLTX8CQMBDdA</string>
	<key>GCM_SENDER_ID</key>
	<string>922715338899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beyou</string>
	<key>PROJECT_ID</key>
	<string>beyou-acec1</string>
	<key>STORAGE_BUCKET</key>
	<string>beyou-acec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922715338899:ios:bb0143a312f589961cb566</string>
</dict>
</plist>
